<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Core beans -->
    <bean id="paymentService" class="org.bookingapp.PaymentService" />
    <bean id="notificationService" class="org.bookingapp.NotificationService" />

    <!-- BookingService with constructor and setter injection -->
    <bean id="bookingService" class="org.bookingapp.BookingService">
        <constructor-arg ref="paymentService" />
        <property name="notificationService" ref="notificationService" />
    </bean>

    <!-- App using setter injection -->
    <bean id="app" class="org.bookingapp.App">
        <property name="bookingService" ref="bookingService" />
    </bean>
</beans>
